body{
    font-family: "righteous";
}

h1{
    font-family: "righteous";
    text-align: center;
    margin: 40px 0 40px 0;
    
}

 
    /* section banniere */
    
    .banniere{
        width: 100%;
        height: 500px;
        background-image: url(/images/Plan\ de\ travail\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    /* responsive banniere */
    
    @media (max-width:1400px){
        .banniere{
            height: 350px;
        }
    }
    @media (max-width:900px){
        .banniere{
            height: 250px;
        }
    }
    @media (max-width:700px){
        .banniere{
            height: 220px;
        }
    }
    @media (max-width: 640px){
        .banniere{
            height: 190px;
        }
    }
    @media (max-width:500px){
        .banniere{
            height: 180px;
        }
    }
    @media (max-width:400px){
        .banniere{
            height: 170px;
        }
    }
    .logo{
        margin: auto;
    }
    .logo:hover{
        transform: scale(1.5);

    }
    .nav-link{
        margin-left: 50px;
    }
    /* bouton recherche magasin */
    .btn{
        border-radius: 20px;
        width: 500px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        background-color: tomato;
    }
   
    .btn a:hover{
        color: rgb(4, 36, 11);
        text-decoration: none;
        
    }
    .img-thumbnail.my-3{
        height: 400px;
        width: 350px;
        margin-left: 50px;
    }
    .nav-item{
        font-size: 20px;
        
    }
    .nav-item a:hover{
        
        transform: scale(1.5);
        
    }

    